.container{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 40px;
  align-items: end;

}

.top_btns{
    display: flex;
    gap: 32px;

}

.contact_Form{
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.contact_Form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

}

.form_control input{
        height: 40px;
        padding: 0 8px;
}

.form_control label{
    position: absolute ;
    font-size: 14px;
    top: -12px;
    left: 10px;
    padding: 0 10px;
    background-color: white;

}

.form_control textarea{
    padding: 10px;
}

.contact_Img{
    height: 615px;
    width: 608px;
}