.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 8px;
border-bottom: 1.5px solid #000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);  

}

    


.nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
    font-weight: 800;

}
.nav img{
    height: 40px;
    width: 50px;
}